@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  --dark-red: #8c1c13ff;
  --deep-chestnut: #bf4342ff;
  --almond: #e7d7c1ff;
  --cinereous: #a78a7fff;
  --liver: #735751ff;
}

html, body {
  font-family: 'Lora', serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  padding-left: 1rem;
  font-family: 'Alegreya', serif;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--dark-red) !important;
}

.nav-link {
  color: var(--liver) !important;
  padding-left: 1rem !important;
}

.nav-link:hover {
  color: var(--deep-chestnut);
}

.page-title {
  font-family: 'Alegreya', serif;
  text-align-last: center;
  color: var(--dark-red);
  padding: 1em;
}

.page-subtitle {
  font-family: 'Alegreya', serif;
  font-size: 1.5rem;
  color: var(--dark-red);
}

@media only screen and (max-width: 410px) {
  .page-title {
    font-size: 2rem;
  }
}

.flex-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.search-form {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 100% !important;
}

@media only screen and (min-width: 768px) {
  .search-form {
    width: 75% !important;
  }
}

@media only screen and (min-width: 900px) {
  .search-form {
    width: 50% !important;
  }
}

.search-bar:focus {
  border-color: var(--deep-chestnut);
  box-shadow: none;
  -webkit-box-shadow: none;
}

.search-btn {
  border: 1px solid;
  color: var(--liver);
}

.word-list {
  width: 80%;
}

.results {
  width: 80%;
  margin: 4em auto;
}